body {
  color: $black;
  background: $base0;
  margin: 0;
  font-family: arial, sans-serif;
}

.section {
  background: $base1;
  max-width: 48rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px $grey;
}

em {
  font-style: normal;
  font-weight: bold;
}

h1 {
  padding-left: 1rem;
}

.plain-link {
  text-decoration: none;
}
